latticecms/config/data.dtd

<?xml version="1.0" encoding="utf-8"?>

<!--
	MoPCMS Data Configuration File DTD
	Revision: 0.1
	Date: 2010/09/18	
-->

<!ELEMENT data (item*) >

<!ELEMENT item (item|field|list|object)* >
<!ATTLIST item
	objectTypeName		CDATA #REQUIRED
>

<!ELEMENT field ANY >
<!ATTLIST field
	name CDATA #REQUIRED
>

<!ELEMENT list  (item*) >
<!ATTLIST list
	family CDATA #REQUIRED
>

<!ELEMENT object (field*) >
<!ATTLIST object
	name CDATA #REQUIRED
>
