modules/mop/config/frontend.dtd

<!--
	MoPCMS Frontend Data File DTD
	Revision: 0.1
	Date: 2010/09/30	
-->

<!ELEMENT data (view*) >

<!ELEMENT view (extendeddata|subview)* >
<!ATTLIST view
	name				CDATA #REQUIRED
	loadpage			(true|false) "true"
>


<!ELEMENT extendeddata EMPTY >
<!ATTLIST extendeddata
	label				CDATA #REQUIRED
	templatename		CDATA #IMPLIED
	parent		 		CDATA "parent"
>

<!ELEMENT subview EMPTY >
<!ATTLIST subvjew
	view				CDATA #REQUIRED
	label				CDATA #REQUIRED
>
