modules/mop/config/frontend.dtd

<?xml version="1.0" encoding="utf-8"?>

<!--
	MoPCMS Frontend Data File DTD
	Revision: 0.1
	Date: 2010/09/30	
-->

<!ELEMENT data (view*) >

<!ELEMENT view (includeObjects|subView)* >
<!ATTLIST view
	name				CDATA #REQUIRED
	loadPage			(true|false) "true"
>

<!ELEMENT includeData ANY >
<!ATTLIST includeData
	from		 		CDATA "parent"
	name				CDATA #REQUIRED
>

<!ELEMENT subView EMPTY >
<!ATTLIST subView
	view				CDATA #REQUIRED
	label				CDATA #REQUIRED
>
